################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sLYNCy-WPF/obj/Debug/Carnivore v1.0.0_MarkupCompile.lref
/sLYNCy-WPF/obj/Debug/Carnivore v1.0.0_MarkupCompile.i.lref
/sLYNCy-WPF/obj/Debug/Carnivore v1.0.0_MarkupCompile.i.cache
/sLYNCy-WPF/obj/Debug/Carnivore v1.0.0_MarkupCompile.cache
/sLYNCy-WPF/obj/Debug/Carnivore.csproj.FileListAbsolute.txt
/sLYNCy-WPF/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/sLYNCy-WPF/obj/Release/DesignTimeResolveAssemblyReferences.cache
/sh.exe.stackdump
