################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sLYNCy-WPF/obj/Debug/Carnivore v1.0.0_MarkupCompile.lref
